/* Calculator CSS */
.container {
    display: flex;
  justify-content: center;
}
input[type='text'] {
    width: 50%;
    padding-right: 10px;
    text-align: right;
    font-size: 35px;
    color: #000000;
    background: none;
    margin: 30px 0px;
}
button {
    font-size: 24px;
    line-height: 70px;
    margin: 1;
    width: 73px;
    height: 70px;
    border: none;
}